.navbar li{
    display: inline-block; 
    padding: 20px;
    font-weight: 120;
}
.nav1 {
    font-weight: bold;
    font-size: large;  
}
.nav2 {
    
    font-size: large; 
}
.nav3{
    
    font-size: large; 
}
.nav4{
    font-size: large;  
    
}
.nav5{
    font-size:large; 
}

#timer{
    font-size: 72px; 
    text-align: center;
    margin: 0px auto; 
}
#timerButton{
    font-size: 20px; 
    text-align: center;
    margin: 0px auto; 
}